@CHARSET "UTF-8";
#wrap{
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -60px;
}
.control-group{
    margin-top:20px;
}
.reg_t_left{
    color:#333333;
    font-size:25px;
    margin-right:10px;
}
.reg_t_right{
    margin-left:10px;
}
.controls{
    margin-left:10px;
}