@CHARSET "UTF-8";
body{
    font-size: 9pt;
    font-family: Tahoma, Verdana, STHeiTi, simsun, sans-serif;
    background: #dde1e5;
    min-width: 1020px
}
#profile_wrapper{
    margin:0 auto;
    width:1014px;
}
#timeline_wrapper {
    width: 864px;
    margin-left: 16px
}
#timeline {
    padding-top: 30px;
    padding-bottom: 25px;
    background:
        url(http://daydayago.com/Public/Css/renren/bg_timeline_bar2.gif)
        repeat-y 431px 0;
    position: relative;
    z-index: 10px
}

#timeline section .feed-replies,#timeline section .feed-comment {
    display: none
}

#timeline>section.first-month .feed-replies,#timeline>section.first-month .feed-comment
    {
    display: block
}

.born {
    background:
        url(http://daydayago.com/Public/Css/renren/bg_timeline_bar2.gif)
        repeat-y 431px 0
}

#timeline .feed_loading {
    padding: 10px 0;
    text-align: center;
    background: transparent;
    clear: both
}

#timeline .timeline_feed,.born .timeline_feed {
    margin-bottom: 25px;
    width: 432px;
    position: relative;
    zoom: 1
}

#timeline .tll_feed {
    float: left;
    clear: left
}

#timeline .tll_feed i {
    position: absolute;
    width: 25px;
    height: 14px;
    background:
        url(http://daydayago.com/Public/Css/renren/bg_dot_right3.png)
        no-repeat;
    _background:
        url(http://daydayago.com/Public/Css/renren/bg_dot_right_ie6.png)
        no-repeat;
    top: 15px;
    right: -5px;
    text-indent: -9999em
}

#timeline .tll_feed:hover i {
    background-position: 0 -14px
}

#timeline .tlr_feed {
    float: right;
    clear: right
}

#timeline .tlr_feed i {
    position: absolute;
    width: 24px;
    height: 14px;
    background:
        url(http://daydayago.com/Public/Css/renren/bg_dot_left3.png)
        no-repeat;
    _background:
        url(http://daydayago.com/Public/Css/renren/bg_dot_left_ie6.png)
        no-repeat;
    top: 15px;
    left: -4px;
    text-indent: -9999em
}

#timeline .overlap i,#timeline .overlap:hover i {
    top: 30px
}

#timeline .tlr_feed:hover i {
    background-position: 0 -14px
}

#timeline .timeline_feed section,.born .timeline_feed section {
    width: 411px;
    border: 1px solid #d1d1d1;
    border-radius: 3px;
    background: #fff;
    text-align: left
}

#timeline .timeline_feed:hover section,.born .timeline_feed:hover section
    {
    border-color: #8c8c8c
}

#timeline .tlr_feed section {
    float: right
}

#timeline .tlf_feed,.born .tlf_feed {
    clear: both;
    width: auto
}

#timeline .tlf_feed section,.born .tlf_feed section {
    width: auto
}

#timeline .tlf_feed i,.born .tlf_feed i {
    position: absolute;
    width: 11px;
    height: 23px;
    background:
        url(http://daydayago.com/Public/Css/renren/bg_dot_top4.png)
        no-repeat;
    _background:
        url(http://daydayago.com/Public/Css/renren/bg_dot_top_ie6.png)
        no-repeat;
    top: -22px;
    left: 427px;
    text-indent: -9999em
}

#timeline .tlf_feed:hover i,.born .tlf_feed:hover i {
    background-position: 0 -23px
}

#timeline .timeline_feed .highlight {
    position: absolute;
    cursor: pointer;
    top: 5px;
    right: 10px;
    display: none
}

#timeline .timeline_feed:hover .highlight {
    display: block
}

#timeline .tll_feed .highlight {
    right: 34px
}

#timeline .timeline_marker,#timeline .timeline_marker_combine,#timeline .timeline_marker_combine_month,#timeline .show_more,.born .timeline_marker
    {
    clear: both;
    text-align: center;
    padding: 20px 0 32px 0;
    padding-left: 347px;
    padding-left: 0\9
}

.born .timeline_marker {
    padding-top: 0 !important
}

#timeline .timeline_marker span,#timeline .timeline_marker_combine span,#timeline .timeline_marker_combine_month span,#timeline .show_more span,.born .timeline_marker span
    {
    background: #c7c7c7;
    color: #fff;
    font-weight: bold;
    font-size: 14px;
    width: 170px;
    padding: 5px 0;
    border-radius: 5px;
    display: table-cell;
    vertical-align: middle;
    display: inline-block\9
}

#timeline .timeline_marker_combine_month span,#timeline .show_more span
    {
    font-size: 12px
}

#timeline .timeline_marker_combine {
    padding-top: 68px;
    padding-bottom: 68px
}

#timeline .timeline_marker_combine span,#timeline .timeline_marker_combine_month span,#timeline .show_more span
    {
    background: #369;
    cursor: pointer
}

#timeline .timeline_marker_combine span:hover,#timeline .timeline_marker_combine_month span:hover,#timeline .show_more span:hover
    {
    text-decoration: underline
}
.tl-new-feed {
    background-color: #fff;
    position: relative;
    border-radius: 3px;
    word-wrap: break-word;
    -moz-box-shadow: 0 1px 1px #d0d0d0;
    -webkit-box-shadow: 0 1px 1px #d0d0d0;
    box-shadow: 0 1px 1px #d0d0d0;
    word-break: break-all;
    word-wrap: break-word
}

* html .tl-new-feed {
    behavior: expression(function(ele){ele.runtimeStyle.behavior='none';
    Expressions
    .pseudo.hover(ele,'tl-a-feed-hover')
}

(
this
))
}
.tl-new-feed .content {
    zoom: 1;
    padding: 20px 18px 0 20px
}

.tl-new-feed .share-feed {
    zoom: 1;
    padding: 20px 18px 20px 20px
}

.tl-new-feed .content:after {
    content: '\20';
    display: block;
    clear: both
}

.tl-new-feed .content-header {
    height: 26px;
    padding-bottom: 20px;
    _padding-bottom: 11px
}

.tl-new-feed .content-header span {
    display: block
}

.tl-new-feed .content-header .day {
    float: left;
    font-size: 35px;
    color: #333;
    font-weight: bold;
    font-family: 'arial';
    margin: -6px 0 0;
    width: 45px
}

.tl-new-feed .content-header .time-right {
    float: left;
    width: 36px
}

.tl-new-feed .content-header .info {
    float: left;
    height: 28px;
    border-left: 1px solid #ebebeb
}

.tl-new-feed .content-header .info .location {
    background:
        url(http://daydayago.com/Public/Css/renren/address.png)
        no-repeat scroll 10px 2px transparent;
    height: 17px;
    line-height: 17px;
    padding-left: 25px
}

.tl-new-feed .content-header .month,.tl-new-feed .content-header .year {
    font-size: 12px;
    color: #888
}

.tl-new-feed .content-main {
    line-height: 20px;
    padding: 0 0 20px 0
}

.tl-new-feed .content-photo {
    line-height: 20px;
    padding: 7px 0 20px 0
}

.tl-new-feed .content-main p {
    line-height: 20px;
    word-break: break-all;
    word-wrap: break-word
}

.tl-new-feed .content-main .title {
    margin-bottom: 4px
}

.tl-new-feed .legend {
    zoom: 1;
    height: 34px;
    line-height: 34px;
    background-color: #f7f7f7;
    border-top: 1px solid #ebebeb;
    padding: 0 0 0 20px;
    border-radius: 0 0 3px 3px
}

.tl-new-feed .legend:after {
    content: '\20';
    display: block;
    clear: both
}

.tl-new-feed .legend a {
    display: block;
    color: #8692aa;
    height: 35px;
    line-height: 35px
}

.tl-new-feed .legend .type {
    float: left;
    height: 34px;
    line-height: 34px;
    color: #c2c2c2
}

.tl-new-feed .legend .replied {
    float: right;
    color: #abb4c6;
    font-size: 12px;
    padding: 0 20px 0 33px;
    background: url(http://daydayago.com/Public/Css/renren/icon.png)
        13px -133px no-repeat;
    _background:
        url(http://daydayago.com/Public/Css/renren/icon_png8.png) 13px
        -133px no-repeat
}

.tl-new-feed .legend .replied:hover {
    color: #fff;
    text-decoration: none;
    background: url(http://daydayago.com/Public/Css/renren/icon.png)
        #8596b6 13px -167px no-repeat;
    _background:
        url(http://daydayago.com/Public/Css/renren/icon_png8.png)
        #8596b6 13px -167px no-repeat;
    border-radius: 0 0 2px 0
}

.tl-new-feed .legend .shared {
    float: right;
    color: #abb4c6;
    font-size: 12px;
    padding: 0 15px 0 34px;
    background: url(http://daydayago.com/Public/Css/renren/icon.png)
        14px -66px no-repeat;
    _background:
        url(http://daydayago.com/Public/Css/renren/icon_png8.png) 14px
        -66px no-repeat
}

.tl-new-feed .legend .shared:hover {
    color: #fff;
    text-decoration: none;
    background: url(http://daydayago.com/Public/Css/renren/icon.png)
        #8596b6 14px -100px no-repeat;
    _background:
        url(http://daydayago.com/Public/Css/renren/icon_png8.png)
        #8596b6 14px -100px no-repeat
}

.tl-new-feed .legend .like {
    float: right;
    color: #abb4c6;
    font-size: 12px;
    padding: 0 15px 0 41px;
    background: url(http://daydayago.com/Public/Css/renren/icon.png)
        15px 0 no-repeat;
    _background:
        url(http://daydayago.com/Public/Css/renren/icon_png8.png) 15px 0
        no-repeat
}

.tl-new-feed .legend .liked {
    background: url(http://daydayago.com/Public/Css/renren/zan.png) 15px
        -28px no-repeat;
    _background: url(http://daydayago.com/Public/Css/renren/zan_png8.png)
        15px -28px no-repeat
}

.tl-new-feed .legend .like:hover {
    color: #fff;
    text-decoration: none;
    background: url(http://daydayago.com/Public/Css/renren/icon.png)
        #8596b6 15px -34px no-repeat;
    _background:
        url(http://daydayago.com/Public/Css/renren/icon_png8.png)
        #8596b6 15px -34px no-repeat
}

.tl-new-feed .legend .more {
    float: right;
    padding-right: 20px;
    color: #95a4c2
}

.tl-new-feed .tl-vocal-player {
    margin: 0 0 20px 0
}

.tl-new-feed .tl-photo-voice {
    position: absolute;
    left: 50%;
    bottom: 0;
    margin: 0 0 10px -101px
}

.tl-new-feed .tl-player-tiny {
    background:
        url(http://a.xnimg.cn/n/apps/status/module/vocal/cssimg/player-box-tiny2.png)
        no-repeat scroll 0 0 transparent;
    display: inline-block;
    height: 18px;
    vertical-align: middle;
    width: 100px;
    position: absolute;
    left: 10px;
    top: 60px;
    margin-right: 0
}

.tl-new-feed .tl-player-tiny .btn {
    background:
        url(http://a.xnimg.cn/n/apps/status/module/vocal/cssimg/icon-play-tiny.png)
        no-repeat scroll 0 0 transparent;
    height: 14px;
    margin: -6px auto auto 6px;
    width: 10px
}

.tl-new-feed .vocal-running .btn {
    background:
        url(http://a.xnimg.cn/n/apps/status/module/vocal/cssimg/icon-mic-tiny2.gif)
        no-repeat scroll 0 0 transparent;
    margin-top: -7px
}
.tl-a-feed .many-photo .other-item img {
    display: block;
    width: 100%;
    margin: 0 auto
}
.t1-a-feed .content-main .movie-intro {
    font-size: 14px;
    color: #888
}

.tl-a-feed .movie-con {
    border: 1px solid #ebebeb;
    background-color: #f7f7f7;
    color: #aaa;
    zoom: 1;
    min-height: 160px;
    height: auto !important;
    height: 160px;
    position: relative
}

.tl-a-feed .movie-img img {
    width: 120px;
    display: block;
    float: left;
    overflow: hidden;
    max-height: 175px
}

.tl-a-feed .movie-info {
    margin-left: 140px;
    padding-top: 4px
}

.tl-a-feed .movie-num {
    color: #888;
    font-family: Georgia;
    font-size: 19px;
    position: relative;
    top: -1px
}

.tl-a-feed .movie-title {
    font-size: 14px;
    text-decoration: none;
    margin-right: 5px
}

.tl-a-feed .movie-type {
    font-size: 12px;
    color: #888;
    margin-top: 5px
}

.tl-a-feed .movie-sub {
    font-size: 12px;
    color: #888;
    position: absolute;
    bottom: 31px;
    left: 136px
}

.tl-a-feed .movie-btn {
    width: 100px;
    height: 15px;
    position: absolute;
    bottom: 9px;
    left: 136px;
    color: #888
}

.tl-a-feed .movie-btn a,.tl-a-feed .movie-btn span {
    float: left
}

.tl-a-feed .movie-btn1 {
    margin-right: 8px
}

.tl-a-feed .movie-btn2 {
    margin-left: 8px
}

.tl-a-feed .content .movie-rate {
    padding: 6px 0 8px 0;
    color: #888;
    border-top: 1px solid #eee;
    zoom: 1
}

.tl-a-feed .content .movie-star {
    width: 86px;
    height: 13px;
    display: inline-block;
    background: url(http://s.xnimg.cn/apps/wiki/cssimg/card-star2.png)
        no-repeat;
    overflow: hidden;
    margin-left: 4px;
    position: relative;
    top: 2px;
    *top: 0
}

.tl-a-feed .content .movie-star1 {
    background-position: 0 -13px
}

.tl-a-feed .content .movie-star2 {
    background-position: 0 -26px
}

.tl-a-feed .content .movie-star3 {
    background-position: 0 -39px
}

.tl-a-feed .content .movie-star4 {
    background-position: 0 -52px
}

.tl-a-feed .content .movie-star5 {
    background-position: 0 -65px
}

.tl-a-feed .movie-all {
    padding: 2px 0 8px 2px
}

.tl-a-feed .movie-all li {
    width: 100px;
    height: 140px;
    float: left;
    margin-right: 2px;
    overflow: hidden;
    position: relative
}

.tl-a-feed .movie-all li img {
    width: 100px;
    min-height: 140px
}

.tl-a-feed .movie-all li .movie-all-rate {
    display: block;
    width: 62px;
    height: 10px;
    position: absolute;
    bottom: 4px;
    left: 20px;
    background: url(http://a.xnimg.cn/apps/wiki/cssimg/wiki_star_new.png)
        no-repeat;
    _background:
        url(http://s.xnimg.cn/apps/wiki/cssimg/wiki_star_new_ie6.png)
        no-repeat;
    z-index: 10;
    overflow: hidden
}

.tl-a-feed .movie-all li .movie-all-rate1 {
    background-position: 0 -10px
}

.tl-a-feed .movie-all li .movie-all-rate2 {
    background-position: 0 -20px
}

.tl-a-feed .movie-all li .movie-all-rate3 {
    background-position: 0 -30px
}

.tl-a-feed .movie-all li .movie-all-rate4 {
    background-position: 0 -40px
}

.tl-a-feed .movie-all li .movie-all-rate5 {
    background-position: 0 -50px
}

.tl-a-feed .movie-all li .movie-all-bg {
    width: 100px;
    height: 18px;
    background: white;
    position: absolute;
    bottom: 0;
    left: 0;
    filter: alpha(opacity = 90);
    opacity: .9
}

.tl-a-feed .movie-blog-content h3 a {
    font-size: 14px
}

.tl-a-feed .movie-blog-content h3 .review-logo {
    background: none repeat scroll 0 0 #f1f4fa;
    border: 1px solid #d9dce2;
    color: #adb6ca;
    font-size: 12px;
    line-height: 12px;
    padding-left: 5px;
    padding-right: 4px
}

.tl-a-feed .movie-blog-content h3 {
    margin-bottom: 0;
    width: 380px;
    height: 32px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 380px
}

.tl-a-feed .movie-blog-content .movie-info .movie-user-info {
    color: #888;
    margin-left: 5px
}

.tl-a-feed .movie-blog-content .content-main {
    padding: 0
}

.tl-a-feed .movie-blog-content .summary {
    line-height: 18px
}

.tl-a-feed .movie-blog-content h3 .review-logo {
    margin-top: 2px;
    display: block;
    margin-right: 3px;
    overflow: hidden;
    padding: 3px 4px 3px 5px;
    float: left;
    _margin-top: 0
}

.tl-a-feed .movie-blog-content h3 a {
    display: block;
    float: left;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 342px
}

.tl-a-feed .movie-blog-content .movie-star {
    display: inline-block;
    width: 62px;
    height: 10px;
    margin-left: 7px;
    background: url(http://a.xnimg.cn/apps/wiki/cssimg/wiki_star_new.png)
        no-repeat;
    _background:
        url(http://s.xnimg.cn/apps/wiki/cssimg/wiki_star_new_ie6.png)
        no-repeat;
    overflow: hidden;
    vertical-align: text-top;
    margin-top: 2px;
    *margin-top: 0
}

.tl-a-feed .movie-blog-content .movie-star1 {
    background-position: 0 -10px
}

.tl-a-feed .movie-blog-content .movie-star2 {
    background-position: 0 -20px
}

.tl-a-feed .movie-blog-content .movie-star3 {
    background-position: 0 -30px
}

.tl-a-feed .movie-blog-content .movie-star4 {
    background-position: 0 -40px
}

.tl-a-feed .movie-blog-content .movie-star5 {
    background-position: 0 -50px
}
.tl-a-feed .content-main .life-event .avatar {
    display: block;
    width: 32px;
    height: 32px;
    overflow: hidden;
    margin: 0 auto
}

.tl-a-feed .content-main .life-event .event-type {
    font-size: 21px;
    font-weight: normal;
    line-height: 1.8;
    text-align: center;
    margin-bottom: 0
}

.tl-a-feed .content-main .life-event .event-info {
    text-align: center;
    color: #888
}

.tl-a-feed .content-main .life-event .more {
    text-align: center
}

.tl-a-feed .content-main .life-event .event-desc {
    line-height: 1.5;
    margin: 0;
    text-align: center
}

.tl-a-feed .content-media .add-photo {
    height: 120px;
    border: 1px solid #d9dce2;
    -webkit-border-radius: 4px;
    -khtml-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    background-color: #f1f4fa;
    margin-top: -15px
}

.tl-a-feed .content-media .add-photo:hover {
    border: 1px solid #369
}

.tl-a-feed .content-media .add-photo a {
    width: 90px;
    font-family: 'Microsoft YaHei', Tahoma, Verdana, STHeiTi, simsun,
        sans-serif;
    display: block;
    margin: 50px auto 0;
    font-size: 21px;
    line-height: 21px;
    font-weight: normal;
    background: url(http://a.xnimg.cn/apps/profile2/res/feed/add.png)
        no-repeat transparent;
    padding-left: 26px
}

.tl-a-feed .content-media .le-photo {
    width: 411px;
    height: 203px;
    margin: -15px -15px 0;
    padding: 0;
    overflow: hidden
}

.tlf_feed .tl-a-feed .content-media .le-photo {
    width: 822px;
    height: 406px;
    margin: 0 auto;
    overflow: hidden
}

.tl-a-feed .le-photo img {
    display: block;
    margin: 0 auto;
    -ms-interpolation-mode: bicubic
}

.tl-a-feed .le-photo .no-scale img {
    width: auto
}

.tl-a-feed .content-media .le-zuji-photo {
    width: 411px;
    height: 203px;
    margin: -15px -15px 0;
    padding: 0;
    overflow: hidden
}

.tlf_feed .tl-a-feed .content-media .le-zuji-photo {
    width: 862px;
    height: 425px;
    overflow: hidden
}

.tl-a-feed .le-zuji-photo img {
    display: block;
    width: 100%;
    margin: 0 auto;
    -ms-interpolation-mode: bicubic
}

.tl-a-feed .le-zuji-photo .no-scale img {
    width: auto
}

.tl-a-feed .content-media .photo-one span {
    display: block;
    width: 100%;
    height: 100%
}

.tl-a-feed .content-media .photo-two span {
    float: left;
    width: 50%;
    width: 49.99% \9;
    height: 100%;
    overflow: hidden
}

.tl-a-feed .content-media .photo-three span {
    float: left;
    width: 33.3%;
    height: 100%;
    overflow: hidden
}

.tl-a-feed .content-media .photo-four span {
    float: left;
    overflow: hidden
}

.tl-a-feed .content-media .photo-four .pic1 {
    width: 60%;
    height: 100%
}

.tl-a-feed .content-media .photo-four .pic2 {
    width: 40%;
    height: 50%
}

.tl-a-feed .content-media .photo-four .pic3 {
    width: 20%;
    height: 50%
}

.tl-a-feed .content-media .photo-four .pic4 {
    width: 20%;
    height: 50%
}

.tl-a-feed .content-source .share-video {
    float: left;
    width: 120px;
    height: 90px;
    margin-right: 10px;
    _margin-right: 5px;
    overflow: hidden
}

.tl-a-feed .content-source .main-text {
    overflow: hidden;
    table-layout: fixed;
    word-wrap: break-word;
    word-break: break-all
}

.tl-a-feed .content-source .main-text .share-title {
    display: block;
    font-weight: bold
}

.tl-a-feed .content-source .main-text .share-from {
    display: block
}

.tl-a-feed .share-video a {
    position: relative;
    display: block;
    max-height: 90px;
    overflow: hidden
}

.tl-a-feed .share-video img {
    display: block;
    margin: 0 auto;
    width: 100%
}

.tl-a-feed .share-video .play-icon {
    position: absolute;
    left: 50%;
    top: 50%
}

.tl-a-feed .share-video .play-icon span {
    width: 48px;
    height: 48px;
    position: absolute;
    cursor: pointer;
    background: url(http://a.xnimg.cn/apps/profile2/res/feed/play.png)
        no-repeat;
    _background: 0;
    _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="http://a.xnimg.cn/apps/profile2/res/feed/play.png",
        sizingMethod="image" );
    left: -24px;
    top: -24px
}

.tl-a-feed .share-video:hover .play-icon span,.tl-a-feed .share-video_IE6hover .play-icon span
    {
    width: 48px;
    height: 48px;
    position: absolute;
    background: url(http://a.xnimg.cn/apps/profile2/res/feed/play_hover.png)
        no-repeat;
    _background: 0;
    _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="http://a.xnimg.cn/apps/profile2/res/feed/play_hover.png",
        sizingMethod="image" );
    left: -24px;
    top: -24px
}

* html .tl-a-feed .share-video {
    behavior: expression(function(ele){ele.runtimeStyle.behavior='none';
    Expressions
    .pseudo.hover(ele,'share-video_IE6hover')
}

(
this
))
}
.tl-a-feed .share .content-main {
    padding: 16px 15px
}

.tl-a-feed .share .content-media {
    padding-bottom: 15px
}

.tl-a-feed .content-source .release-video {
    float: left;
    position: relative;
    width: 200px;
    margin-right: 10px;
    _margin-right: 5px
}

.tl-a-feed .release-video img {
    display: block;
    margin: 0 auto;
    width: 100%
}

.tl-a-feed .release-video .play-icon {
    position: absolute;
    left: 50%;
    top: 50%
}

.tl-a-feed .release-video .play-icon span {
    width: 48px;
    height: 48px;
    position: absolute;
    background: url(http://a.xnimg.cn/apps/profile2/res/feed/play.png)
        no-repeat;
    left: -24px;
    top: -24px
}

.tl-a-feed .release-video:hover .play-icon span {
    width: 48px;
    height: 48px;
    position: absolute;
    background: url(http://a.xnimg.cn/apps/profile2/res/feed/play_hover.png)
        no-repeat;
    left: -24px;
    top: -24px
}

.tl-a-feed .content .content-media .friend-img {
    width: 50px;
    height: 50px;
    float: left;
    overflow: hidden
}

.tl-a-feed .content .content-media .one-friend {
    margin-left: 65px
}

.tl-a-feed .content .content-media .one-friend h4 {
    font-size: 14px;
    font-weight: bold;
    padding: 3px 0 6px
}

.tl-a-feed .content .content-media .one-friend .add-friend {
    width: 80px;
    color: #666;
    background: url(http://a.xnimg.cn/imgpro/icons/plus-green.png) 1px 3px
        no-repeat transparent;
    display: block;
    padding-left: 15px
}

.tl-a-feed .content .content-media .one-friend .add-friend:hover {
    color: #369
}

.tl-a-feed .content .content-media .many-friend {
    margin-right: -15px
}

.tl-a-feed .content .content-media .many-friend li {
    width: 50px;
    height: 50px;
    float: left;
    margin: 5px 5px 0 0;
    overflow: hidden
}

.tl-a-feed .content .content-media .many-friend .more_one,.tl-a-feed .content .content-media .many-friend .more_two,.tl-a-feed .content .content-media .many-friend .more_three,.tl-a-feed .content .content-media .many-friend .more_four
    {
    width: 50px;
    height: 50px;
    line-height: 50px;
    background-color: #edf3ff;
    color: #369;
    font-weight: bold
}

.tl-a-feed .content .content-media .many-friend .more_one {
    font-size: 30px
}

.tl-a-feed .content .content-media .many-friend .more_two {
    font-size: 22px
}

.tl-a-feed .content .content-media .many-friend .more_three {
    font-size: 17px
}

.tl-a-feed .content .content-media .many-friend .more_four {
    font-size: 14px
}

.tl-a-feed .content .content-main .new-friend {
    margin: 0;
    color: #aaa;
    font-weight: bold
}