@CHARSET "UTF-8";
#wrap{
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -60px;
}
.control-group{
    position:absolute;
    top:60%;
}
#register_dialog{
    display:none;
}
.to_register{
    margin-left:10px;
    position:relative;
    top:8px;
}
a{
    text-decoration:underline;
}
.controls{
    float:left;
    margin-left:10px;
}
.error_log{
    color:red;
    position:absolute;
    top:69%;
    padding-left:10px;
}
.error_log span{
    width:164px;
    display:inline-block;
    margin-left:10px;
}